.ai_salary_side {
  position: fixed;
  top: 20%;
  right: 0;
  width: 360px;
  min-height: 320px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transform: translateX(100%);
  transition: 0.3s ease-in-out;

  &--open{
    transform: translateX(0%);
  }

  &__body {
    padding: 20px 30px 20px 20px;

    &__item {
      padding-bottom: 16px;
    }
  }
}