@import "normalize.css";
@import "../shared/styles/variables.scss";
@import "../shared/styles/ui_xen.scss";

body, html, #root {
  height: 100vh;
  width: 100vw;
  background-color: $baseGray1;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #b6b6b6;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  border: 3px solid #808080;
}